* {
    padding: 0;
    margin: 0;
}

/* fonts */
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../fonts/Satoshi-Regular.woff') format('woff'),
         url('../fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
         url('../fonts/Satoshi-Medium.woff') format('woff'),
         url('../fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff'),
         url('../fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

body {
    font-family: 'Satoshi-Regular', sans-serif;
}

/* variable */
:root {
    --primary: #F6F9FC;
    --green: #40CEAE;
    --black: #424B54;
    --black-secondary: #092540;
    --grey: #666;
    --border-black: hsla(210, 12%, 29%, 0.1);
}

.text-green {
    color: var(--green);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 4em;
}

.btn {
    /* color: var(--green); */
    letter-spacing: 0.05em;
    font-family: 'Satoshi-Medium';
    margin-right: 10px;
}

.btn-primary-green {
    background-color: var(--green);
    color: white;
    padding: 14px 28px;
    border-radius: 6px;
}

.btn-primary-outline {
    border: 1px solid var(--green);
    padding: 14px 28px;
    border-radius: 6px;
    color: var(--green);
}


/* navbar */
nav {
    text-transform: uppercase;
    background-color: var(--primary);
}

.nav-item {
    margin-right: 1rem;
    font-size: 1.125em;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.nav-link {
    color: var(--grey);
}

.navbar-collapse {
    margin-top: 1rem;
}



/* hero */
.hero {
    background-image: url(../img/bg-hero.png);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    min-height: 100vh;
}

.hero-wrap {
    padding-top: 100px;
    max-width: 950px;
    margin: 0 auto;
}

.hero-subtitle {
    max-width: 620px;
    margin: 0 auto;
}

/* main */
main {
    /* position: relative; */
    margin-top: -25%;
}

/* rating */
.rc-wrap {
    text-align: center;
}
.rating-box {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 100px 0 180px 0;
}
.rb-center {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.rb {
    border: 1px solid var(--border-black);
    border-radius: 20px;
    /* display: flex; */
    padding: 32px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    max-height: 250px;
}
.rb .sm {
    width: 100px;
}
.rb img {
    max-width: 100%;
    height: auto;
}
.sm {
    padding: 0;
}
.front {
    padding: 40px 48px;
    position: absolute;
    margin-left: auto;
    min-height: 305px;
    box-sizing: border-box;
    box-shadow: 44px 44px 54px rgba(0, 0, 0, 0.03);
    width: 400px;
}
.rb-behind {
    position: absolute;
    margin-top: 3rem;
    background-color: var(--primary);
    border: 1px solid #E5ECFA;
    height: 200px;
    max-width: 330px;
}
.rb-behind .star {
    background-color: white;
}
.behind-left {
    left: 0;
}
.behind-right {
    right: 0;
}
.star {
    background-color: var(--primary);
    margin: 10px 0;
    border-radius: 12px;
    padding: 12px 40px;
}

.rb span {
    font-weight: 700;
}

/* testimonial */
.testimonial {
    background-image: url(../img/bg\ testi.png);
    background-position: center;
    background-size: cover;
    padding: 180px 0;
    margin-top: 60px;
}
.testimonial p, .testimonial span {
    color: hsla(208, 71%, 96%, 0.6);
}
.testimonial .name, .testimonial p {
    font-size: 1.25em;
    line-height: 30px;
}

.owl-dots {
    display: none;
}
.name {
    color: white;
}

/* our world */
.our-world {
    margin-top: 100px;
}

.our-world-title {
    max-width: 780px;
    margin: 0 auto;
}

.our-world-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

/* synchronising */
.synchronising {
    background: url(../img/bg-sync.png) center;
    padding: 100px 0;
    color: white;
    margin-top: 100px;
    max-width: 100%;
}

/* footer */
footer {
    background-color: var(--primary);
    padding: 5% 0;
}

footer ul, .follow {
    padding-left: unset;
    margin-top: 20px;
}

.footer-menu {
    text-transform: uppercase;
    font-size: 1.125em;
    line-height: 27px;
}

footer ul li {
    margin-bottom: 10px;
}

.footer-link, footer p {
    color: rgba(66, 75, 84, 0.6);
    font-size: 1em;
    line-height: 26px;
}

.input {
    padding: 10px 20px;
    border: 1px solid hsla(210, 12%, 29%, 0.1);
    max-width: 100%;
}

.socmed-wrap {
    display: flex;
    gap: 1rem;
}

.socmed-wrap a {
    color: var(--black);
}

@media screen and (max-width: 768px) {
    main {
        margin-top: -50%;
    }

    .our-world-wrap {
        gap: 20px;
    }
}

@media screen and (max-width: 375px) {
    .hero {
        min-height: 80vh;
    }

    h2 {
        font-size: 3em;
    }
    .rb-center {
        flex-direction: column;
    }

    .rb-behind {
        position: static;
        margin-top: 0;
        margin: -10% 0;
    }
    .rating-box {
        flex-direction: column;
        align-items: center;
    }
    .front {
        min-height: unset;
        width: auto;
    }
    footer {
        padding: 10% 0;
    }
    .footers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
    }
    
}